{% extends 'base.html' %}

{% block content %}
    <h1 class="search-result-heading">{{ search | title }}</h1>

    <div class="search-section-row row">
        {% for post in final_postings %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ post.3 }}" alt="craig image">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.0 }}</h5>
                        <p class="card-text">Price : {{ post.2 }}</p>
                        <a href="{{ post.1 }}" class="btn btn-primary">Check</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock  %}